<!doctype html>
<html ng-app="aniListSearch">
<head>
  <title>Anilist Search Extension by Megane Life</title>
  <link ref="stylesheet"
        media="all"
        href="styles/angular-csp.css"/>
  <link rel="stylesheet"
        media="all"
        href="styles/css-dep.min.css" />
  <link rel="stylesheet"
        media="all"
        href="styles/main.css"/>
</head>
<body ng-controller="main">
  <!-- Navigation -->
  <header class="container" id="navigation">
  <ul>
    <li><h1 class="uk-text-bold">AniList Quick Search</h1></li>
    <li ng-show="!menus.search">
      <button class="uk-button"
              ng-click="changeMenu('search')">
        <i class="uk-icon uk-icon-search"></i>
      </button>
    </li>
    <li ng-show="!menus.settings"
        ng-click="changeMenu('settings')">
      <button class="uk-button">
        <i class="uk-icon uk-icon-cogs"></i>
      </button>
    </li>
  </ul>
  </header>

  <!-- Settings -->
  <section class="container"
           ng-show="menus.settings"
           id="settings">
  <form class="uk-form">
    <div class="uk-alert" data-uk-alert ng-show="saveNotify">
      Credentials has been saved
      <a href="" class="uk-alert-close uk-close"></a>
    </div>
    <div class="uk-form-row">
      <input ng-model="settings.clientID"
             placeholder="Client ID from AniList"
             class="uk-width-1-1" />
      <input ng-model="settings.clientSecret"
             placeholder="Client Secret from AniList"
             class="uk-width-1-1" />
    </div>
    <div class="uk-form-row">
      <button type="submit"
              ng-click="saveSettings()"
              class="uk-button
                     uk-button-primary
                     uk-width-1-1">
        Submit
      </button>
    </div>
  </form>
  </section>

  <!-- Search Box -->
  <section class="container"
           ng-show="menus.search"
           id="search">
  <div class="uk-alert uk-alert-danger" ng-show="cliError">
    Client Credentials Entered
  </div>
  <form class="uk-form uk-form-stacked"
        ng-submit="search()">
    <div class="uk-form-row">
      <label class="uk-form-label uk-text-large uk-width-1-1">
        Parameters
      </label>
      <select ng-model="search.type"
              ng-options="type for type in types"
              class="uk-form-large"></select>
      <input ng-model="search.series"
             class="uk-form-large"
             placeholder="Type series name here"/>
    </div>
    <div class="uk-form-row uk-text-center">
      <button class="uk-button uk-button-primary uk-width-1-1">
        Submit
      </button>
    </div>
  </form>
  </section>

  <!-- Results Box -->
  <section class="container"
           ng-show="menus.result"
           id="result">
    <p ng-show="results.length === 0">No Results Found</p>
    <ul class="uk-list">
      <li ng-repeat="item in results" class="result uk-margin-bottom">
        <img ng-src="{{item.image_url_med}}">
        <div class="result-info">
        <dl class="uk-description-list-line">
          <dt>Title</dt>
          <dd>
            <a ng-href="https://anilist.co/{{search.type}}/{{item.id}}"
            target="_new">
            {{item.title_english}}
          </a>
          </dd>
          <dt>Romanji Title</dt>
          <dd>{{item.title_romaji}}</dd>
          <dt>Series ID</dt>
          <dd>{{item.id}}</dd>
        </dl>
        </div>
      </li>
    </ul>
  </section>

<script src="scripts/js-dep.min.js"></script>
<script src="scripts/angular-dep.min.js"></script>
</body>
</html>
